<!doctype html>
<html ng-app="angular-module" ng-controller="MainController as main">
<head>
  <title>Angular ES6 Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="theme-color" content="#ffffff">

  <base href="./">

  <style>
    body {
      margin: 0;
      padding: 0;
    }
    @-webkit-keyframes ball-pulse-sync {
      33% {
        margin-top: .1em;
      }
      66% {
        margin-top: -1.1em;
      }
      to {
        margin-top: -.5em;
      }
    }
    @keyframes ball-pulse-sync {
      33% {
        margin-top: .1em;
      }
      66% {
        margin-top: -1.1em;
      }
      to {
        margin-top: -.5em;
      }
    }
    .ball-pulse-sync {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 15px;
      background-color: #0d3349;
      z-index: 15;
    }
    .ball-pulse-sync > div {
      background-color: #fff;
      width: 1em;
      height: 1em;
      border-radius: .5em;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -.5em 0 0 -.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      display: block;
    }
    .ball-pulse-sync > div:nth-child(1) {
      -webkit-animation: ball-pulse-sync .6s -.14s infinite ease-in-out;
      animation: ball-pulse-sync .6s -.14s infinite ease-in-out;
      margin-left: -1.6em;
    }
    .ball-pulse-sync > div:nth-child(2) {
      -webkit-animation: ball-pulse-sync .6s -.07s infinite ease-in-out;
      animation: ball-pulse-sync .6s -.07s infinite ease-in-out;
    }
    .ball-pulse-sync > div:nth-child(3) {
      -webkit-animation: ball-pulse-sync .6s 0s infinite ease-in-out;
      animation: ball-pulse-sync .6s 0s infinite ease-in-out;
      margin-left: .6em;
    }
  </style>

</head>
<body ng-class="{'modal-opened' : main.modalOpen}" ng-click="main.click($event)">
<div ui-view="app">
  <div class="ball-pulse-sync">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

</body>
</html>
